.building {
  border: 3px solid blue;
  border-radius: 5px;
  padding: 10px;
  width: 20%;
  margin: 10px;
  text-align: center;
}
.green {
  color: green;
}
.red {color: red;
}
.activities {
  max-height: 300px;
  overflow-y: scroll;
}
